@font-face {
    font-family: 'advent_promedium';
    src: url('fonts/adventpro-medium-webfont.eot');
    src: url('fonts/adventpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adventpro-medium-webfont.woff2') format('woff2'),
         url('fonts/adventpro-medium-webfont.woff') format('woff'),
         url('fonts/adventpro-medium-webfont.ttf') format('truetype'),
         url('fonts/adventpro-medium-webfont.svg#advent_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{

	font-family: arial, serif;
	color: rgb(62, 39, 35);
	font-size: 0.9em;
	width: auto;
	margin:	auto;
	padding: 20px;
 }


header{
	font-family:'advent_promedium';
	display: inline-block;
	text-align: left;
	height: 200px;
	padding-left: 2%;
	padding-top: 0.5%;
	font-size: 1.6em;
}

h1{
	color: rgb(109, 76, 65);
}

header p{
	color: rgb(109, 76, 65);
	font-size: 1.6em;
}


#title{
	color: 	rgb(0,137,123);
}

aside{
	
	background-color: rgb(0, 137, 123);
	float: left;
	width: 350px;
	height: 1300px;
}


.TitleAside{
	font-family:'advent_promedium';
	background-color: rgb(109, 76, 65);
	text-align: center;
	font-size: 1.5em;
	color: rgb(0, 137, 123);
}


.photoSize{

	display: flex;
	justify-content: center;
}



#boxphoto{

	width: 130px;
  	height: 130px;
  	border-radius: 50%;
  	position: relative;
  	overflow: hidden;
  	margin-top: 9px;
  	box-shadow: 3px 3px 3px rgb(109,76,65)
}


img{
	position: absolute;
	bottom: -38px;
	width: 100%
}
  

.Icon::before{
	display: inline-block;
	font-style: normal;
  	font-variant: normal;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
}

.adress::before{
	font-family: "Font Awesome 5 Free";
	content: "\f2b9";
	font-weight: 900; 
}

.tel::before{
	font-family: "Font Awesome 5 free";
	content: "\f3cd";
	font-weight: 900; 
}

.mail::before{
	font-family: "Font Awesome 5 free";
	content: "\f2b6";
	font-weight: 900; 
}

.skype::before{
	font-family: "Font Awesome 5 Brands";
	content: "\f17e";
}

#contact{
	margin-left: 20px;
	margin-right: 20px;
	height: 200px;
}


#Apropos{
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
	height: 400px;
	line-height: 1.7em;
}



#loisirs{
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 30px;
	height: 400px;
}



.TitlePart{
	text-align: left;
	margin-left:29%;
	color:rgb(0, 137, 123);
	border-bottom: 2px solid rgb(0,137,123);
	margin-top: 0.5%;
}


.TitleSectionText{
	font-family:'advent_promedium';
	display: inline-block;
	font-size: 1.5em;
	color: rgb(109,76,65);
	margin-left: 2%;
}


.MainSection{
	margin-top: 50px;
}

.graduate::before{
	font-family: "Font Awesome 5 free";
	content: "\f19d";
	font-weight: 900;
	font-size: 3em;
}

.briefcase::before{
	font-family: "Font Awesome 5 free";
	content: "\f0b1";
	font-weight: 900;
	font-size: 3em;
}

.lightbulb::before{
	font-family: "Font Awesome 5 free";
	content: "\f0eb";
	font-weight: 900;
	font-size: 3em;
}

.check::before{
	font-family: "Font Awesome 5 free";
	content: "\f058";
	font-weight: 900;
	font-size: 1em;
	margin-right: 2px;
}


.Date{

	display: inline-block;
	vertical-align:	top;
	width: 25%;
	margin-top: 2%;
	margin-left: 5%;
}

.Text{
	display: inline-block;
	vertical-align: top;
	list-style-type:none;
	margin-top: 2%;
	margin-left: 3%;
}

h3{
	text-align: center;
}

#Skills{
	display: flex;
	justify-content: space-around;
}

.PartSkills li{
	margin-left: 1%;
}

@media screen and (max-width: 1280px){

	body{
		width: 100%;
		margin: 0;
		padding-left: 2%;
	}

	header{
		height: auto;
	}


	aside{
		display: flex;
		flex-wrap: wrap;
		height: 441px;
		width: 100%;
	}

	.asidePart{
		width: 50%;
	}

	.TitleAside{
		font-size: 1.2em;
		margin-top: 0%;
	}

	#boxphoto{
		width: 108px;
		height: 108px;
	}

	
	#contact{
		font-size: 0.8em;
		height: auto;
		margin-left: 0;

	}

	#Apropos{
		font-size: 0.7em;
		margin-left: 5px;
		line-height: 1.4em;
		text-align: center;
	}

	#loisirs{
		flex-direction: column;
		align-items: center;
		height: 208px;
	}


	.MainSection{
		margin-top: 21px;
	}


	.graduate::before{
		font-size: 1.5em;
	}

	.briefcase::before{
		font-size: 1.5em;
	}

	.lightbulb::before{
		font-size: 1.5em;
	}

	.TitlePart{
		margin-left: 0;
	}

	.TitleSectionText{
		font-size: 1.1em;
		text-align: center;
	}

	.Text{
			width: 95%;
			margin-left: 0;
			margin-top: 0;
	}

	.Date{
		width: 100%;
		margin-left: 0;
		margin-top: 24px;
	}


	#Skills{
		flex-direction: column;
		
	}

	h3{
		font-size: 0.9em;
		text-align: left;
	}

	.PartSkills li{
		display: inline;
	}


}

