@font-face {
    font-family: 'advent_promedium';
    src: url('adventpro-medium-webfont.eot');
    src: url('adventpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('adventpro-medium-webfont.woff2') format('woff2'),
         url('adventpro-medium-webfont.woff') format('woff'),
         url('adventpro-medium-webfont.ttf') format('truetype'),
         url('adventpro-medium-webfont.svg#advent_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



body

{

	font-family: 'advent_promedium', Arial, serif;
	color: rgb(62, 39, 35);
	font-size: 16
	width: auto;
	margin:	auto;
	
}


aside

{
	
	background-color: rgb(0, 137, 123);
	float: left;
	width: 350px;
	height: 1000px;
	
}




h2

{
	background-color: rgb(109, 76, 65);
	text-align: center;
	font-size: 1.5em;
	color: rgb(0, 137, 123);
	
}

.photoSize
{

	display: flex;
	justify-content: center;
}



#boxphoto

{

	width: 130px;
  	height: 130px;
  	border-radius: 50%;
  	position: relative;
  	overflow: hidden;
  	margin-top: 9px;
  	box-shadow: 3px 3px 3px rgb(109,76,65)

}


img

{
	
	
	position: absolute;
	bottom: -38px;
	width: 100%
	
	
}
  

#contact{
	
	margin-left: 20px;
	margin-right: 20px;
}


#Apropos{

	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}

#loisirs{
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 30px;
}


header{
	text-align: left;
	height: 200px;
	padding-left: 30%;
	padding-top: 0.5%;
	font-size: 1.6em;
}

#title{
	color: 	rgb(0,137,123);
}


#title2{
	text-decoration: underline rgb(0,137,123);
}


.TitlePart{

	display: flex;
	padding-bottom: 10px;
}




h3{
	
	border-bottom: 2px solid rgb(0,137,123);
	padding-bottom: 10px;
	margin-left: 360px;
}

.TextSection{

	margin-left: 26%;

}


.BoxText{

	display: flex;
}
	
.Date{

	margin-top: 2;
	margin-left: 5%;

}

.Text{

	margin-top: 2;
	margin-left: 12%;
	font-size:1em;
}

